.pullout
  margin: 50px auto

  +element('title')
    margin-bottom: 50px
    color: $blue-text

  +element('slider')
    width: 100%
    height: auto
    padding-bottom: 10px
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2)

    +modifier('buttons')
      display: flex
      width: 100%
      height: 45px
      justify-content: space-between

      +modifier('btn')
        display: flex
        justify-content: center
        align-items: center
        width: calc(100% / 7)
        height: auto
        border: none
        color: $blue-text
        background-color: white

        &:hover
          background-color: #e9ebf4

        &:focus
          outline: none

        & > span
          font-weight: 700
          text-transform: uppercase

        &.active
          color: $red-text
          background-color: #e9ebf4

    +modifier('responsive')
      position: relative
      width: 100%
      height: auto
      background: url('./assets/images/pullout-img/time-bg.png') no-repeat top/contain

      & > span
        position: absolute
        top: 3%
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border-radius: 50%
        cursor: pointer
        box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2)
        background-color: white

        &:hover
          opacity: .9

      +modifier('btn-prev')
        left: -2%
        background: url('./assets/images/icons/left-chevron.svg') no-repeat center/60%

      +modifier('btn-next')
        left: 98%
        background: url('./assets/images/icons/right-chevron.svg') no-repeat center/60%


      & > div.slick-list
        height: 100%

      +modifier('content')
        display: flex !important
        flex-direction: column
        justify-content: center
        height: auto

        +modifier('time')
          display: flex
          justify-content: center
          align-items: center
          height: 47px
          margin-bottom: 10px
          color: $white-text

        +modifier('img')
          display: flex
          justify-content: center
          align-items: center
          border-left: 1px solid #ddd
          object-fit: contain








  +element('table')
    border-top: 2px solid $primary-red-color
    border-bottom: 2px solid $primary-red-color

    colgroup

      #first-col
        width: 15%
        border: 1px solid #dee2e6

      #second-col
        width: 20%
        border-right: 1px solid #dee2e6

      #third-col
        width: auto

    tbody

      tr
        td
          vertical-align: middle

      tr
        td:first-child
          font-weight: 500
          text-align: center

        td:nth-child(2)
          font-size: 1.5em
          font-weight: 600
          text-align: center
          color: $grey-text

        td:last-child
          font-weight: 500

      //Active table row
      tr.active
        td:first-child
          color: $white-text
          background-color: $primary-red-color

        //Red dot
        td:last-child:after
          content: ''
          display: inline-block
          width: 10px
          height: 10px
          margin-top: 7px
          border-radius: 50%
          float: right
          background-color: $primary-red-color

    +modifier('image')
       width: 100px
       height: 40px
       object-fit: cover
