$selection-color: #ddddda
$bg-bodyColor: #FFFFFF

$primary-red-color: #cd1512
$primary-yellow-color: #d5aa3c
$result-section-bg-color: #000000
$howtoplay-section-bg-color: #222222
$border-bottom-color: #cbcbcb

//Text color
$white-text: #FFFFFF
$grey-text: #333333

//Linear Gradients
$grey-gradient: linear-gradient(to right, #FFFFFF 0%, #F9F9F9 25%, #ECECEC 50%, #D4D4D4 75%, #D2D2D2 87.5%, #dfe1e1 100%)
$yellow-gradient: linear-gradient(to bottom, #CDA02B 0%, #EBC65F 25%, #F9E283 50%, #EBC65F 75%, #CDA02B 100%)
$red-gradient: linear-gradient(to bottom, #F39B9C 0%, #DA4440 25%, #CD150E 50%, #DA4440 75%, #f39b9c 100%)
$black-gradient: linear-gradient(to bottom, #4F4F4F 0%, #333333 25%, #222222 50%, #333333 75%, #4F4F4F 100%)
